.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #605751;
    flex-wrap: wrap;
}

.footer > span {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}